<!-- Loader HTML -->
<div id="loader0"
    style="display:none; position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0,0,0,0.2); z-index:1000;">
    <div
        style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <button class="btn btn-primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status"
                aria-hidden="true"></span>
            Processing...
        </button>
    </div>
</div>
<!-- Loader HTML -->
