@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

#placeholder {

    max-width: 264px;
    min-width: 264px;
    height: 100vh;
}

#sidebar {
    position: fixed;
    max-width: 264px;
    min-width: 264px;
    height: 100vh;
    background: var(--bs-primary);
    transition: all 0.35s ease-in-out;
}

.adminhomehr {
    height: 10px;
    background-color: #035358;
}

a {
    cursor: pointer;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

li {
    list-style: none;
}

h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.275rem;
    color: var(--bs-emphasis-color);
}


.request-text {
    font-size: 1.1em;

}

#profile-window {
    max-width: 85vw;
    width: 84vw
}

.thead {
    position: sticky;
}


.card {
    display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    border: none;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: box-shadow .25s;
    margin-bottom: 60px;
}

.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Layout for admin dashboard skeleton */
.req-card {
    margin-bottom: 30px;
}

/* // Bootstrap resets */

.card-img {
    border-radius: 0;
}

.vgr-cards {
    .card {
        display: flex;
        flex-flow: wrap;
        flex: 100%;

        &:nth-child(even) .card-img-body {
            order: 2;
        }

        &:nth-child(even) .card-body {
            padding-left: 0;
            padding-right: 1.25rem;
        }

        @media (max-width: 576px) {
            display: block;
        }

    }

    .card-img-body {
        flex: 1;
        overflow: hidden;
        position: relative;

        @media (max-width: 576px) {
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }

    }

    .card-img {
        width: auto;
        height: 100%;
        position: absolute;
        margin-left: 50%;
        transform: translateX(-50%);

        @media (max-width: 1140px) {
            margin: 0;
            transform: none;
            width: 100%;
            height: auto;
        }

    }

    .card-body {
        flex: 2;
        padding: 0 0 0 1.25rem;

        @media (max-width: 576px) {
            padding: 0;
        }

    }
}

.navbar {
    position: fixed;
    z-index: 10;
    background-color: #ffffff;
    width: 100%;
}

.content {
    margin-top: 50px;
}


li:hover {
    background-color: #035358;
    color: #fff;

}

a:hover {
    color: #fff;
}

.sidebar-nav li.active {
    background-color: #156468;
    color: #41de0c;
}



#query-flex {
    display: flex;
}

.hr {
    height: 1px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #186e64;
}

.wrapper {
    display: flex;
    width: 100%;
}



.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background: var(--bs-light-bg-subtle);
}

/* Sidebar Elements Style */

.sidebar-logo {
    padding: 1.15rem;
}

.sidebar-logo a {
    color: #ffffff;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav {
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header {
    color: #e9ecef;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

.sidebar-link {
    font-size: 40px;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e9ecef;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.avatar {
    height: 40px;
    width: 40px;
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}



@media (min-width:768px) {
    .content {
        max-width: auto;
        width: auto;
    }
}


.illustration {
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color);
}

.illustration-img {
    max-width: 150px;
    width: 100%;
}

/* Sidebar Toggle */

#sidebar.collapsed {
    margin-left: -264px;
}

/* Footer and Nav */



/* Theme Toggler */

.theme-toggle {
    position: fixed;
    top: 50%;
    transform: translateY(-65%);
    text-align: center;
    z-index: 10;
    right: 0;
    left: auto;
    border: none;
    background-color: var(--bs-body-color);
}

html[data-bs-theme="dark"] .theme-toggle .fa-sun,
html[data-bs-theme="light"] .theme-toggle .fa-moon {
    cursor: pointer;
    padding: 10px;
    display: block;
    font-size: 1.25rem;
    color: #FFF;
}

html[data-bs-theme="dark"] .theme-toggle .fa-moon {
    display: none;
}

html[data-bs-theme="light"] .theme-toggle .fa-sun {
    display: none;
}


.adminnav {
    align-items: center;
    justify-content: center;
}